<% require_js 'code_generator' %>
<h2>
  Задание "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(игра "<%= link_to @game.name, resource(@game) %>")</em>
</p>

<br />

<%= error_messages_for @answer, :header => "<h2>Ошибка</h2>" %>

<%= form_for @question, :action => resource(@game, @level, :questions) do %>
  <p><%= text_field :correct_answer, :label => "Код" %></p>
  <% if not @level.has_gold_question? %>
    <p><%= check_box :gold, :label => "Золотой?" %></p>
  <% end %>
  <%= submit "Добавить код" %>
  <input type="button" value="Сгенерировать" onclick="generate('question_correct_answer')"/>
  <em><%= link_to "(отменить)", resource(@game, @level) %></em>
<% end =%>