Игра "<%= @game.name %>"

<table id="stats">
  <thead>
    <tr>
      <th>Команда</th>
      <th>Уровень</th>
      <th>Время на уровне</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <%
      game_passings_sorted_by_current_level_position = @game_passings.sort do |left, right|
        if left.finished?
          -1
        elsif right.finished?
          1
        else
          right.current_level.position <=> left.current_level.position
        end
      end
    %>
    <% game_passings_sorted_by_current_level_position.each do |game_passings| %>
      <tr>
        <td><%= game_passings.team.name %></td>
        <% if game_passings.finished? %>
          <td>(закончили игру)</td>
          <td>--:--:--</td>
        <% else %>
          <td><%= game_passings.current_level.name %></td>
          <td><%= game_passings.time_at_level %></td>
        <% end %>
        <td><em><%= link_to "(лог по уровню)", "/logs/level/#{game_passings.game_id}/#{game_passings.team_id}" %></em></td>
      </tr>
    <% end %>
  </tbody>
</table>