Игра "<%= @game.name %>"

<table id="stats">
  <thead>
    <tr>
      <th>Команда</th>
      <th>Уровень</th>
      <th>Время на уровне</th>
      <th>#</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <%
      game_passings_sorted_by_current_level_position = @game_passings.sort do |left, right|
        if left.finished?
          -1
        elsif right.finished?
          1
        else
          right.current_level.position <=> left.current_level.position
        end
      end
    %>
    <% game_passings_sorted_by_current_level_position.each do |game_passing| %>
      <tr>
        <td><%= game_passing.team.name %></td>
        <% if game_passing.exited? %>
          <td>(Сошли с дистанции)</td>
          <td><%= Level.find(game_passing.current_level_id).name %></td>
        <% elsif game_passing.finished? %>
          <td>(закончили игру)</td>
          <td>--:--:--</td>
        <% else %>
          <td><%= game_passing.current_level.name %></td>
          <td><%= game_passing.time_at_level %></td>
        <% end %>
        <td>
          <% unless game_passing.finished? and not game_passing.exited? %>
            <em><%= link_to "(лог по уровню)", "/logs/level/#{game_passing.game_id}/#{game_passing.team_id}" %></em>
          <% end %>
        </td>
        <td><em><%= link_to "(лог по игре)", "/logs/game/#{game_passing.game_id}/#{game_passing.team_id}" %></em></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to "Полный лог ответов", "/logs/full/#{@game.id}" %>