<p>Игра: <%= @game_passing.game.name %></p>
<p>Уровень #<%= @game_passing.current_level.position %>: <%= @game_passing.current_level.name %></p>
<p><%= @game_passing.current_level.text %></p>

<hr />

<% @game_passing.hints_to_show.each_with_index do |hint, index| %>
  <p>Подсказка #<%= index + 1 %>:</p>
  <p><%= hint.text %></p>
  <hr />
<% end %>

<br />

<%= error_messages_for @game_passing, :header => "" %>

<%= form :action => url(:pass_level), :method => :post do %>
  <p><%= text_field :name => 'answer', :label => "Ответ" %></p>
  <%= submit "Отправить!" %>
<% end =%>