<script language="javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
<script language="javascript" src="/javascripts/level_hint_updater.js"></script>

<h2>
  Игра "<strong><%= @game.name %></strong>", Задание #<%= @game_passing.current_level.position %>
</h2>

<br />

<fieldset>
  <legend>
    <%= @game_passing.current_level.name %>
  </legend>

  <%= @game_passing.current_level.text %>
</fieldset>

<br />

<div id="LevelHintsContainer">
  <% @game_passing.hints_to_show.each_with_index do |hint, index| %>
    <fieldset>
      <legend>
        Подсказка #<%= index + 1 %>
      </legend>
      <%= hint.text %>
    </fieldset>
    <br />
  <% end %>
</div>

<% unless @game_passing.upcoming_hints.empty?  %>
  <div id="LevelHintCountdownContainer">До следующей подсказки <span id="LevelHintCountdownTimerText">3 минуты</span></div>
  <div id="LevelHintCountdownLoadIndicator" style="display: none;">Загрузка...</div>

  <script>
  LevelHintUpdater.setup({
    initialCountdownValue: <%= @game_passing.upcoming_hints.first.available_in(@game_passing.current_level_entered_at) %>
    ,gameId: <%= @game_passing.game_id %>
  })
  </script>
<% else %>
  <div>
  Подсказок больше не будет
  </div>
<% end %>

<br />

<% if answer_posted? %>
  <% if answer_was_correct? %>
    <div>
      Код '<%= @answer %>' -- верный.
    </div>
  <% else %>
    <p>
      Код неверный, вы ввели '<%= @answer %>'.
    </p>
  <% end %>
<% end %>

<% if @game_passing.current_level.multi_question? %>
  <div>
    Правильных кодов введено: <%= @game_passing.answered_questions.size %> из
    <% if @game_passing.current_level.has_gold_question? %>
      <%= @game_passing.current_level.questions.count - 1 %>
    <% else %>
      <%= @game_passing.current_level.questions.count %>
    <% end %>
  </div>
<% end %>

<p id="entered_codes">
    Введенные коды:
<%= @entered_correct_answers.join ', '  %>
</p>

<%= form :action => url(:post_answer), :method => :post do %>
  <p><%= text_field :name => 'answer', :label => "Код" %></p>
  <%= submit "Отправить!" %>
<% end =%>

<br/>

<% if current_user.captain? %>
    <%= link_to "Сойти с дистанции", "/game_passings/exit_game/#{@game_passing.game_id}" %>
<% end %>
<% if @game.is_testing? %>
  <br/>
  <%= link_to "Завершить тестирование", url("games/finish_test/#{@game.id}") %>
<% end %>
