Команда <%= @team.name %> <br />
<br />

<fieldset>
  <legend>
    Состав
  </legend>

  <% @team.members.each do |member| %>
    <p>
      <%= member.nickname %> <%= "- капитан" if member.captain? %>
    </p>
  <% end %>

  <br />
  <hr class="short-line" />

  <p>
    <%= link_to "Пригласить участников", resource(:invitations, :new) if @current_user.captain? %>
  </p>
  <p>
    <%= link_to "Редактировать команду", resource(@team, :edit) if @current_user.captain? %>
  </p>
</fieldset>

<br />

<%= partial 'shared/current_games' %>

<b />

<%= partial 'dashboard/coming_games' %>

<b />

<%= partial 'dashboard/finished_games' %>