<fieldset>
  <legend>
    Моя команда
  </legend>
  
  <% unless @current_user.member_of_any_team? %>

    <p>
      Вы не состоите ни в одной из команд
    </p>

    <p>
      <%= link_to "Создать команду", resource(:teams, :new) %>
    </p>
    
    <br />

    <% @invitations.each do |invitation| %>
      <p>Вас пригласили в команду <%= invitation.to_team.name %>
        <em><%= link_to "(принять)", url(:controller => "invitations", :action => "accept", :id => invitation.id), :id => "accept-invitation-#{invitation.id}" %></em>
        <em><%= link_to "(отказаться)", url(:controller => "invitations", :action => "reject", :id => invitation.id), :id => "reject-invitation-#{invitation.id}" %></em>
      </p>
    <% end %>

  <% else %>

    <p>
      <%= @current_user.captain? ? "Вы - капитан команды" : "Вы состоите в команде" %> <strong><%= @current_user.team.name %></strong>
    </p>
    
    <p>
      <%= link_to "Перейти в комнату команды", resource(@current_user.team) %>
    </p>

  <% end %>
</fieldset>