<p>
  Вы <%= @current_user.nickname %>
</p>

<br />

<%= partial 'my_team' %>
  
<br />

<%= partial 'my_games' %>

<br />

<%= partial 'shared/current_games' %>

<br />

<%= partial 'dashboard/coming_games' %>

<br />

<%= partial 'dashboard/finished_games' %>

<br />

<%= partial 'games/game_entries', :game_entries => @game_entries  %>

<br />

<%= partial 'games/teams', :teams => @teams  %>