Вы <%= @current_user.email %>

<% unless @current_user.member_of_any_team? %>

  Вы не состоите ни в одной из команд
  <br />
  <%= link_to "Создать команду", resource(:teams, :new) %>
  <br />
  <hr />
  <br />
  <table>
    <% @invitations.each do |invitation| %>
      <tr>
        <td>Вас пригласили в команду <%= invitation.to_team.name %></td>
        <td><%= link_to "Принять", url(:controller => "invitations", :action => "accept", :id => invitation.id), :id => "accept-invitation-#{invitation.id}" %></td>
        <td><%= link_to "Отказаться", url(:controller => "invitations", :action => "reject", :id => invitation.id), :id => "reject-invitation-#{invitation.id}" %></td>
      </tr>
    <% end %>
  </table>

<% else %>

  <% if @current_user.captain? %>
    Вы - капитан команды <%= @current_user.team.name %>
  <% else %>
    Вы состоите в команде <%= @current_user.team.name %>
  <% end %>
  <br />
  <%= link_to "Комната команды", url(:team_room) %>

<% end %>

<br /><br />
Вы можете <%= link_to "Создать игру", resource(:games, :new) %>