<p>
    Новое подсказка для задания "<%= link_to @level.name, resource(@game, @level) %>" игры "<%= link_to @game.name, resource(@game) %>"
</p>

<br />

<%= error_messages_for @hint, :header => "<h2>Ошибка</h2>" %>

<%= form_for @hint, :action => resource(@game, @level, :hints) do %>

  <%= partial 'form', :hint => @hint %>

  <%= submit "Добавить подсказку", :style => "width:170px" %>
  <em><%= link_to "(отменить)", resource(@hint.level.game, @hint.level) %></em>
<% end =%>

