<h2>Редактирование профиля игрока <%= @current_user.nickname %></h2>
<br>

<%= error_messages_for @user, :header => "<h2>Ошибка</h2>" %>

<%= form_for @user, :action => resource(@user) do %>
  <p><%= text_field :nickname, :label => "Ваше имя" %></p>
  <p><%= text_field :date_of_birth, :label => "Дата рождения" %></p>
  <p><%= text_field :icq_number, :label => "Номер ICQ" %></p>
  <p><%= text_field :jabber_id, :label => "Jabber ID" %></p>
  <p><%= text_field :phone_number, :label => "Контактный телефон" if @user.captain?%></p>
  <br/>
  <p><%= text_field :password, :label => "Новый пароль" %></p>
  <p><%= text_field :password_confirmation, :label => "Подтверждение пароля" %></p>
  <%= submit "Принять изменения" %>
  <em><%= link_to "(отменить)", url(:users) %></em>
<% end =%>