<fieldset>
<% if logged_in? %>
  <legend>
    <%= link_to current_user.nickname, url(:dashboard) %>
    <% if current_user.member_of_any_team? %>
      (<%= link_to current_user.team.name, resource(@current_user.team) %>)
    <% end %>
  </legend>

  <p>
    <%= link_to "Личный кабинет", url(:dashboard) %>
  </p>

  <p>
    <%= link_to "Профиль", url(:users) %>
  </p>

  <p>
    <% if current_user.member_of_any_team? %>
      <%= link_to "Комната команды", resource(@current_user.team) %>
    <% else %>
      <%= link_to "Создать команду", resource(:teams, :new) %>
    <% end %>
  </p>

  <p>
    <%= link_to "Все игры домена", resource(:games) %>
  </p>

  <p>
    <%= link_to "Выйти", url(:logout) %>
  </p>
<% else %>
  <legend>
    &nbsp;Вход&nbsp;
  </legend>

  <p>
    <%= link_to "Войти", url(:login) %>
  </p>

  <p>
    <%= link_to "Зарегистрироваться", url(:signup) %> <br />
  </p>
<% end %>