<% require_js 'calendar', 'calendar-setup', 'calendar-ru-UTF' %>
<% require_css 'calendar' %>

<%= error_messages_for @game, :header => "<h2>Ошибка</h2>" %>

<%= form_for @game, :action => resource(@game) do %>
  <p><%= text_field :name, :label => "Название" %></p>
  <p><%= text_area :description, :label => "Описание" %></p>
  <p><%= text_field :starts_at, :label => "Начало игры" %> <input id="calendar-switch" type="button" value="..." /> </p>
  <p><%= check_box :is_draft, :label => "Черновик?" %></p>
  <%= submit "Сохранить" %>
<% end =%>

<br />
<br />
<%= link_to "Добавить новое задание в игру", resource(@game, :levels, :new) if logged_in? and @current_user.author_of?(@game) and ! @game.started? %>

<script type="text/javascript">
  Calendar.setup(
    {
      inputField  : "game_starts_at",
      ifFormat    : "%Y-%m-%d %H:%M",
      button      : "calendar-switch",
      showsTime   : true
    }
  );
</script>