<h2>
  Игра "<strong><%= @game.name %></strong>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Черновик</div>
<% end %>


<p>
  <em>Автор</em> - <strong><%= @game.author.nickname %></strong>
</p>

<p>
  <% unless @game.starts_at.nil? %>
    <em>Начало игры</em>: <%= @game.starts_at.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Дата начала игры ещё не назначена
  <% end %>
</p>

<p>
  <em>Описание:</em>
</p>

<p>
  <%= @game.description %>
</p>

<br />

<% if logged_in? and @current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Задания:
    </legend>

    <p>
      <%= partial 'levels/list', :levels => @game.levels  %>
    </p>

    <p>
      <%= link_to "Добавить новое задание", resource(@game, :levels, :new) if ! @game.started? %>
    </p>
  </fieldset>

  <br />

  <p>
    <%= link_to "Редактировать эту игру", resource(@game, :edit) if ! @game.started? %>
  </p>

  <p>
    <%= link_to "Удалить эту игру", resource(@game, :delete) %> <br />
  </p>

<% end %>