<h2>
  Игра "<strong><%= @game.name %></strong>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Черновик</div>
<% end %>


<p>
  <em>Автор</em> - <strong><%= @game.author.nickname %></strong>
</p>

<p>
  <% unless @game.starts_at.nil? %>
    <em>Начало игры</em>: <%= @game.starts_at.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Дата начала игры ещё не назначена
  <% end %>
</p>
<p>
  <% unless @game.registration_deadline.nil? %>
    <em>Крайний срок регистрации</em>: <%= @game.registration_deadline.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Крайний срок регистрации ещё не назначен
  <% end %>
</p>

<p>
  <em>Описание:</em>
</p>

<p>
  <%= @game.description %>
</p>
<p>
  <em>Максимальное количество команд:</em>
</p>
<p>
  <% if @game.max_team_number.equal?(10000) or @game.max_team_number.equal?(0) or @game.max_team_number.nil? %>
    Неограничено
    <% @game.max_team_number = 10000 %>
  <% else %>
    <%= @game.max_team_number %>
  <% end %>
</p>

<br />

<% if logged_in? and @current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Задания:
    </legend>

    <p>
      <%= partial 'levels/list', :levels => @game.levels  %>
    </p>

    <p>
      <%= link_to "Добавить новое задание", resource(@game, :levels, :new) if ! @game.started? %>
    </p>
  </fieldset>
  <br/>
      <%= partial 'games/game_entries', :game_entries => @game_entries  %>

    <br/>

    <%= partial 'games/teams', :teams => @teams  %>
  <br />
  <p>
    <%= link_to "Редактировать эту игру", resource(@game, :edit) if ! @game.started? %>
  </p>

  <p>
    <%= link_to "Удалить эту игру", resource(@game, :delete) %> <br />
  </p>

<% end %>

<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
<%= partial 'shared/countdown' %>
<div id="countdown-example"></div>

<script type="text/javascript">
  <% unless @game.starts_at.nil? %>
    var date = new Date(<%= (@game.starts_at + 1).strftime("%Y,%m-1,%d,%H,%M,%S") %>);
  <% end %>

  $("#countdown-example").countdown(date,{
    prefix:'До начала осталось: '
  });
</script>

<br />
<%= partial 'teams', :teams => @teams if (!logged_in?) || (logged_in? && !@current_user.author_of?(@game)) %>

<% if @game.draft? and !@game.started? and @game.levels and @game.levels.count > 0 %>
   <%= link_to 'Начать тестирование', url("games/start_test/#{@game.id}") %>
<% end %>

<% if @game.is_testing? %>
   <%= link_to "Старт", url(:show_current_level, :game_id => @game.id) %>
   <br />
   <%= link_to "Завершить тестирование", url("games/finish_test/#{@game.id}") %>
<% end %>
