<% require_js 'code_generator' %>

Новое задание для игры <%= @level.game.name %><br />
<br />

<%= error_messages_for @level, :header => "<h2>Ошибка</h2>" %>

<%= form_for @level, :action => resource(@game, :levels) do %>
  <p><%= text_field :name, :label => "Название" %></p>

  <p><%= text_area :text, :label => "Текст задания" %></p>
  
  <p>
    <%= text_field :correct_answer, :label => "Код" %>
    <input type="button" value="Сгенерировать" onclick="generate('level_correct_answer')"/>
    <br />
    <em>После создания вы сможете добавить больше кодов в задание</em>
  </p>

  <%= submit "Добавить задание" %>
  <em><%= link_to "(отменить)", resource(@level.game) %></em>
<% end =%>