<h2>
  Задание "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(игра "<%= link_to @level.game.name, resource(@level.game) %>")</em>
</p>

<br />

<p>
  <em>Текст задания:</em>
</p>

<p>
  <%= @level.text %>
</p>

<br />

<p>
  <%= link_to "Редактировать это задание", resource(@level.game, @level, :edit) unless @level.game.started? %>
</p>

<br />

<fieldset>
  <legend>
    Подсказки:
  </legend>

  <p>
    <%= partial 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Добавить подсказку", resource(@game, @level, :hints, :new) %>
  </p>
</fieldset>