<h2>
  Задание "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(игра "<%= link_to @level.game.name, resource(@level.game) %>")</em>
</p>

<br />

<p>
  <em>Текст задания:</em>
</p>

<p>
  <%= @level.text %>
</p>

<p>
  <%= link_to "Редактировать текст и название задания", resource(@level.game, @level, :edit) unless @level.game.started? %>
</p>

<br />

<% unless @level.multi_question? %>
  <p>
    <em>Код:</em>
    <%= @level.correct_answer %>
  </p>
<% else %>
  <p>
    <em>Коды (<%= @level.questions.count %>):</em>
  </p>
  <% @level.questions.each do |question| %>
    <p><%= question.answer %></p>
  <% end %>
<% end %>

<p>
  <%= link_to "Добавить ещё один код", resource(@game, @level, :questions, :new) %>
</p>



<br />

<fieldset>
  <legend>
    Подсказки:
  </legend>

  <p>
    <%= partial 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Добавить подсказку", resource(@game, @level, :hints, :new) %>
  </p>
</fieldset>

<br />

<p>
  <%= link_to "Вернуться к игре \"#{@level.game.name}\"", resource(@level.game) %>
</p>