Задание "<%= @level.name %>" игры <%= link_to @level.game.name, resource(@level.game) %>
<br />
<%= @level.text  %>
<br />
<br />

<p>
  <%= link_to "Редактировать", resource(@level.game, @level, :edit) unless @level.game.started? %>
</p>

<br />

<fieldset>
  <legend>
    Подсказки:
  </legend>

  <p>
    <%= partial 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Добавить подсказку", resource(@game, @level, :hints, :new) %>
  </p>
</fieldset>