<h2>
  Задание "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(игра "<%= link_to @game.name, resource(@game) %>")</em>
</p>

<br />

<p>
  <em>Текст задания:</em>
</p>

<p>
  <%= @level.text %>
</p>

<p>
  <%= link_to "Редактировать текст и название задания", resource(@game, @level, :edit) unless @level.game.started? %>
</p>

<br />

<% unless @level.multi_question? %>
  <p>
    <em>Код:</em>
    <div id="question-<%= @level.questions.first.id %>">
      <%= @level.correct_answer %>
      <%= link_to "(редактировать)", resource(@game, @level, @level.questions.first, :answers) %>
    </div>
  </p>
<% else %>


  <% if @level.has_gold_question? %>
    <p><em>Золотой код:</em></p>
    <div id="question-<%= @level.gold_question.id %>">
      <p><%= @level.gold_question.correct_answer %></p>
      <%= link_to "(редактировать)", resource(@game, @level, @level.gold_question, :answers) %>
      <%= link_to "(удалить)", resource(@game, @level, @level.gold_question, :delete) %>
      <br /><br />
    </div>
  <% end %>

  <p>
    <% if @level.has_gold_question? %>
      <em>Коды (<%= @level.questions.count-1 %>):</em>
    <% else %>
      <em>Коды (<%= @level.questions.count %>):</em>
    <% end %>
  </p>
  <% @level.questions.each do |question| %>
    <% unless question.gold? %>
    <div id="question-<%=  question.id %>">
      <p><%= question.correct_answer %></p>
      <%= link_to "(редактировать)", resource(@game, @level, question, :answers) %>
    </div>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= link_to "Добавить ещё один код", resource(@game, @level, :questions, :new) %>
</p>

<br />

<fieldset>
  <legend>
    Подсказки:
  </legend>

  <p>
    <%= partial 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Добавить подсказку", resource(@game, @level, :hints, :new) %>
  </p>
</fieldset>

<br />

<p>
  <%= link_to "Удалить этот уровень", resource(@game, @level, :delete) %> <br />
</p>

<br />

<p>
  <%= link_to "Вернуться к игре \"#{@level.game.name}\"", resource(@level.game) %>
</p>