<h1>Полный лог ответов</h1>

<table id="stats" border="1">
  <tbody>
    <% @levels.each do |level| %>
      <tr align="center">
        <td colspan="0">
          <h2><%= level.name %></h2>
          <% if level.questions.count == 1 %>
            <strong>Верный код:</strong><%= level.questions.first.correct_answer %>
          <% else %>
            <strong>Верные коды:</strong>
            <% level.questions.each do |question| %>
              <%= question.correct_answer %><% if question.gold %>(золотой)<% end %><% if question!=level.questions.last %>,<% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr valign="top">
        <% @teams.each do |team| %>
        <td>
          <%= team.name %>
          <% team_logs = Log.of_team(team).of_level(level) %>
          <ul>
          <% team_logs.each do |team_log| %>
            <li><%= team_log.time.strftime("%H:%M:%S") %>&nbsp;<%= team_log.answer %></li>
          <% end %>
          </ul>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
